body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  font-family: gordita,Helvetica,sans-serif;
    background-color: #000;
    color: #fff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}



.filter-dropdown {
  position: relative;
}

.dropdown-container {
  position: relative;
}

.arrow-icon {
  cursor: pointer;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;

  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1;
  width: 200px; /* Set your desired initial width */
  transition: width 0.3s, background-color 0.3s; /* Add transition for a smooth effect */
}


.option {
  padding: 8px;
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition for a smooth effect */
}

.option:hover {
  background-color: #f0f0f0; /* Change the background color on hover */
}
.options p{
  margin-bottom: 20px;
}

.video-container {
  position: relative;
  margin-top: 10px; /* Add margin for spacing */
}

/* .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  z-index: 1;
} */

.video-container video {
 width: 400px;
    height: auto;
}
.videoTrailer {
  margin-left: 20px;
  width: 320px;
  height: 240px;
  position: relative;
  
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.play-button svg {
  width: 50px;
  height: 50px;
  fill: #fff;
}

.hidden {
  display: none;
}